<div class="user-added-card">
     <div class="media-wrapper">
      <img src="{{ img }}" loading="lazy" width="" height=""/>
     </div>
     <h3>{{ title }}</h3>
     <span><strong>{{ textStrong }}</strong> {{ text }}</span>
      <a href="{{ link_url }}" class="link {{ link_class }}">{{ link_text }}{% render 'icon', icon: 'arrow-up-right' %}</a>
</div>
