{% assign _section = section.settings %}

<!-- JS -->
<script type="module" src="{{- 'component-GoCart.js'| asset_url -}}"></script>

<!--go cart modal fail-->
<div class="go-cart__modal go-cart__modal--fail js-go-cart-modal-fail">
    <div class="go-cart-modal">
        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-fail-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
            </svg>
        </div>
        <!--end go cart modal close-->

        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-fail-content">
            {{- 'sections.cart.something_went_wrong_error' | t -}}
        </div>
        <!--end go cart modal content-->
    </div>
</div>
<!--end go cart modal fail-->

<!--go cart modal-->
<div class="go-cart__modal js-go-cart-modal">
    <div class="go-cart-modal">
        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
            </svg>
        </div>
        <!--end go cart modal close-->

        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-content"></div>
        <!--end go cart modal content-->

        <!--go cart modal buttons-->
        <div class="go-cart-modal__buttons">
            <a class="go-cart__button js-go-cart-modal-close">
                {{- 'sections.cart.continue_shopping' | t -}}
            </a>

            <a href="/cart/" class="go-cart__button">
                {{- 'sections.cart.view_cart' | t -}}
            </a>
        </div>
        <!--end go cart modal buttons-->
    </div>
</div>
<!--end go cart modal-->

<!--go cart drawer-->
<div class="go-cart__drawer js-go-cart-drawer">
    <div class="go-cart-drawer">
        <!--go cart drawer close-->
        <div class="go-cart-drawer__header">
            <h2 class="title">{{ 'sections.cart.title' | t }}</h2>
            <div class="go-cart-drawer__close js-go-cart-drawer-close">
                {% render 'icon', icon: 'close-alt' %}
            </div>
        </div>
        <!--end go cart drawer close-->

        <!--go cart drawer content-->
        <div class="go-cart-drawer__content js-go-cart-drawer-content">
           <div class="go-cart-drawer__content--empty js-empty-title">
               <h2 class="sub-h2">{{- 'sections.cart.empty' | t -}}</h2>
           </div>
        </div>
        <!--end go cart drawer content-->

        <!--go cart drawer footer-->
        <div class="go-cart-drawer__footer js-go-cart-drawer-footer">
            <!--go cart drawer subtotal-->
            <div class="go-cart-drawer__subtotal">
                <span>{{ 'sections.cart.subtotal' | t }}</span>
                <span class="go-cart-drawer__subtotal-price js-go-cart-drawer-subtotal"></span>
            </div>
            <!--end go cart drawer subtotal-->

            <!--go cart drawer buttons-->
            <a class="go-cart__button btn btn--blue-fill" href="/checkout">
                {{- 'sections.cart.button_checkout' | t -}}
            </a>

            {% if _section.continue_shopping_url != blank %}
              <a class="go-cart__link" href="{{- _section.continue_shopping_url -}}">
                  {{- 'sections.cart.continue_shopping' | t -}}

                  {% render 'icon', icon: 'arrow-down' %}
              </a>
            {% endif %}
            <!--end go cart drawer buttons-->
        </div>
        <!--end go cart drawer footer-->
    </div>
</div>
<!--end go cart drawer-->

<!--go cart overlay-->
<div class="go-cart__overlay js-go-cart-overlay">
</div>
<!--end go cart overlay-->

<!--cart button-->
<div class="go-cart__trigger js-go-cart-trigger">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
    <path d="M18.936 5.564c-.144-.175-.35-.207-.55-.207h-.003L6.774 4.286c-.272 0-.417.089-.491.18-.079.096-.16.263-.094.585l2.016 5.705c.163.407.642.673 1.068.673h8.401c.433 0 .854-.285.941-.725l.484-4.571c.045-.221-.015-.388-.163-.567z"></path>
    <path d="M17.107 12.5H7.659L4.98 4.117l-.362-1.059c-.138-.401-.292-.559-.695-.559H.924c-.411 0-.748.303-.748.714s.337.714.748.714h2.413l3.002 9.48c.126.38.295.52.942.52h9.825c.411 0 .748-.303.748-.714s-.336-.714-.748-.714zm-6.683 3.73a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0zm6.429 0a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0z"></path>
  </svg>

  <span class="js-go-cart-counter">{{- cart.item_count -}}</span>

  <!--go cart mini cart-->
  <div class="go-cart__mini-cart js-go-cart-mini-cart">
    <div class="go-cart-mini-cart">
      <!--go cart mini cart content-->
      <div class="go-cart-mini-cart__content js-go-cart-mini-cart-content"></div>
      <!--end go cart mini cart content-->

      <!--go cart mini cart subtotal-->
      <div class="go-cart-mini-cart__subtotal">
        <span>{{- 'sections.cart.subtotal' | t -}}</span>
        <span class="go-cart-mini-cart__subtotal-price js-go-cart-mini-cart-subtotal"></span>
      </div>
      <!--end go cart mini cart subtotal-->

      <!--go cart mini cart buttons-->
      <div class="go-cart-mini-cart__footer js-go-cart-mini-cart-footer">

        <a href="/checkout/" class="go-cart__button">
          {{- 'sections.cart.go_to_checkout' | t -}}
        </a>

        <a href="/cart/" class="go-cart__button">
          {{- 'sections.cart.view_cart' | t -}}
        </a>
      </div>
      <!--end go cart mini cart buttons-->
    </div>
  </div>
  <!--end go cart mini cart-->
</div>
<!--end cart button-->

{% schema %}
{
  "name": "Cart drawer",
  "settings": [
    {
      "type": "url",
      "id": "continue_shopping_url",
      "label": "Continue shopping URL"
    }
  ]
}
{% endschema %}
